.container {

}

.menu_list {
  display: flex;
  flex-direction: column;
  width: 25rem;
}

@media (max-width: 700px) {
  .menu_list {
    width: 15rem;
  }
}

.item {
  height: 3rem;
}

.item:hover {
  background-color: var(--blue-01);
}