.menu_continer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.menu_list {
  display: flex;
  flex-direction: column;
  width: 25rem;
}

.item {
  font-size: medium;
  font-weight: 400;
  color: var(--pure-00);
  height: 3.5rem;
}

.item:hover {
  background-color: var(--blue-01);
}

@media (max-width: 700px) {
  .menu_list {
    width: 15rem;
  }

  .item {
    font-weight: 400;
    color: var(--blue-70);
  }
}
