.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 100vw;
}

.nav {
    padding: 1em 3em;
    width: 100%;
    height: 6.5rem;
    border-bottom: 1px solid var(--gray-20);
}

.content {
    width: 40rem;
    height: 100vh;
    padding: 4rem 1rem 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.title {
    color: var(--pure-100);
    text-align: center;
    font-family: Rawline;
    font-size: 20.16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.15px;
}

.input_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem 0 1rem;
}

.input {
    width: 100%;
    padding: 0 1rem;
    border-radius: 3.5px;
    height: 54px;
    border: 1px solid var(--gray-20);
}

.input::placeholder {
    font-family: Rawline;
    font-size: 16.8px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: var(--gray-40);
}

.text_tiny {
    cursor: pointer;
    color: var(--blue-70);
    text-align: end;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 1px;
}

.deafult_button {
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    color: var(--pure-00);
    width: 100%;
    height: 3rem;
    border-radius: 20px;
    background: var(--blue-70);
}

.text_button {
    width: 100%;
    cursor: pointer;
    border: none;
    color: var(--blue-70);
    width: 100%;
    height: 3rem;
    background: var(--pure-00);
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 1.25px;
}

.text_button:hover {
    border-radius: 20px;
    background: var(--blue-01);
}

@media (max-width: 700px) {
    .content {
        width: 90%;
        padding: 5m 1rem 5rem;
        justify-content: space-between;
    }

    .deafult_button, .text_button {
        height: 2.5rem;
    }
}
