.form_control {
  max-width: 50rem;
}

.form_field {
  width: 100%;
}

.form_fields_container {
  display: flex;
  width: 100%;
  gap: 4rem;
}

.field_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.field_container p {
  font-size: medium;
  color: var(--gray-80);
}

.error_text {
  margin-top: 3px !important;
}

.buttons_container {
  width: 100%;
  gap: 2rem;
  display: flex;
  margin-top: 6rem;
  justify-content: flex-end;
}

.buttons_container div > button {
  height: 3rem;
  font-size: 16px;
  border-radius: 40px;
  text-transform: initial;
}

.buttons_container div:first-child > button {
  background-color: var(--blue-70);
}

.alert_container {
  position: fixed;
  z-index: 1;
  top: calc(100% - 100px);
  left: calc(100% - 26rem);
  width: 100%;
}

.alert > div,
.alert > div > div {
  height: 100%;
  width: 25rem;
}

@media (max-width: 700px) {
  .form_fields_container {
    flex-direction: column;
    gap: 2rem;
  }

  .buttons_container {
    margin-top: 2rem;
  }

  .alert_container {
    top: calc(100% - 75.61px);
    left: 0;
  }

  .alert > div,
  .alert > div > div {
    width: 100%;
  }
}
